.form-container{
  padding: 50px;
  margin: 160px;
  background-color: #1b1f2f;
}

.navbar-custom{
  background-color: #0b0c12;
}

.title-form{
  color: #ffffff;
  text-align: center;
}

.input-form{
  margin-top: 20px;
}

body{
  background-color: #0f111a !important;
}

.button-form{
  background-color:#ffca28;
}